html, body {
  padding: 0px;
  margin: 0px;
}

#container {
  height: 374px;
  max-width: 620px;
  min-width: 380px;
  margin: auto;
  margin-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

#flutter_target {
  height: 374px;
  max-width: 600px;
  min-width: 360px;
}